
/*-----------------------nav-----------------------*/
nav{
    background-color: $tertiary-color;
    font-weight: bold;
}

.nav_current {
    color: $primary-color;
    text-decoration: none;
    padding: 10px;
    
    &:hover{
        background-color: $secondary-color;
    color: black;
    }
}


.nav_other {
    color: white;
    text-decoration: none;
    padding: 10px;

    &:hover{
        background-color: $secondary-color;
        color: black;
    }
}