/*---------------------------------learning resources desktop view---------------------------------*/

.resource_grid{
    margin: 10px 50px 10px 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
    column-gap: 10px;
    align-items: center;
    justify-items: center;
}

.resource_image {
    max-width: 100%;
    max-height: $image-size*3;
    grid-area: "rcs_image";
}

.resource_name {
    max-width: $image-size*3;
    text-decoration: none;
    grid-area: "rcs_name";
}
